<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="Site" value="https://www.roguard.net"/>
    <add key="MonsterPageUrl" value="/db/monsters/?page={0}"/>
    <add key="MonsterLinkXPath" value="//*[@id='content']/div/table/tbody/tr/td[2]/div[1]/a"/>
    <add key="CommonXPath" value="//*[@id='content']/div/div[h2[contains(text(), 'Common')]]/table/tbody"/>
    <add key="AttributesXPath" value="//*[@id='content']/div/div[h2[contains(text(), 'Attributes')]]/table[1]/tbody"/>
    <add key="StatXPath" value="//*[@id='content']/div/div[h2[contains(text(), 'Attributes')]]/table[2]/tbody"/>
    <add key="CardXPath" value="//*[@id='content']/div/div[h2[contains(text(), 'Card')]]/div/a"/>
    <add key="ItemXPath" value="//*[@id='content']/div/div[h2[contains(text(), 'Drops')]]"/>
    <add key="LocationsXPath" value="//*[@id='content']/div/div[h2[contains(text(), 'Locations')]]"/>
    <add key="PageCountXPath" value="//*[@id='content']/div/nav[1]/ul/li[last()]/a"/>
  </appSettings>
</configuration>