<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="Site" value=""/>
    <add key="MonsterPageUrl" value=""/>
    <add key="MonsterLinkXPath" value=""/>
    <add key="CommonXPath" value=""/>
    <add key="AttributesXPath" value=""/>
    <add key="StatXPath" value=""/>
    <add key="CardXPath" value=""/>
    <add key="ItemXPath" value=""/>
    <add key="LocationsXPath" value=""/>
    <add key="PageCountXPath" value=""/>
  </appSettings>
</configuration>